body {
    background-image: url(images/49066cd709a43dcc797134a62b6eb91f.jpg);
    background-size: cover;
    
}
fieldset {
    background-color: #1b2838;
}
h2 {
    color: white;
    font-size: 50px;
    ;
}
p {
    color: white;
}
.Agradecimiento {
    font-size: 100px;
    color: white;
    text-align: center;
}
.VolveraInicio {
    color: white;
    text-align: justify;

}
.AgradecimientoField {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%;
}
a {
    color: white;
}