
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Jaro:opsz@6..72&family=Pacifico&family=Sixtyfour+Convergence&display=swap');

h1{
    font-family: "Sixtyfour Convergence";
    font-size: 50px;
    color: darkmagenta; 
    text-align: center;
}
h2{
    font-family: "Jaro";
    font-size: 30px;
    color: darkblue;
    text-align: center;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: darkmagenta;
}
li{
    font-style: Arial;
}
a:link{
    color: blue;
    font-family: "Bebas Neue";
}
a:visited {
    color: darkorchid;
    font-family: "Bebas Neue";
}
a:hover{
    color: yellow;
    font-family: "Bebas Neue";
}
a:active{
    color: red;
    font-family: "Bebas Neue";
}

table, th, tr, td{
    border: solid black;
    border-width: 33%;
    border-collapse: collapse;
    background-color: Yellow;
    text-align: center;
    margin: auto;
}
body{
    background-image: url(../images/tienda-game-gran-via-hortaleza.jpg);
    background-size: cover;
}
#tiempolimitado{
    font-style: red;
}
img {
    height: 200px;
    width: 200px;
    text-align: center;
    vertical-align: center;
}
p {
    font-style: black;
    font-family: "Bebas Neue" ;
    font-size: 20px;
}
.Producto {
    background-color: black;
    border: solid yellow;
    
}
.Sedes{
    text-align: center;
}